.h2,
h2 {
    margin-bottom: 0.66em;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
    font-size: 1.75rem;
}

.h5,
.h6,
h1,
h4 {
    font-family: "Nunito Sans", Inter, sans-serif;
    font-weight: 700;
}

p,
ul li {
    font-family: "Nunito Sans", Inter, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
}

.font-size-11 {
    font-size: 11px
}

.font-size-32 {
    font-size: 32px
}

.big-icon {
    font-size: 5rem;
}

.sbg-work {
    background: linear-gradient(rgb(31 35 60 / 91%), rgb(31 35 60 / 91%)), no-repeat url(https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-position: center center;
}

.search {
    border-radius: 0 .5rem .5rem 0 !important;
}

.sbtn {
    display: inline-block;
    font-weight: 600;
    color: #4a5073;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .5rem 1.25rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sbtn-sm {
    display: inline-block;
    font-weight: 600;
    color: #4a5073;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: .0625rem solid transparent;
    padding: .3rem .9rem;
    font-size: 90%;
    line-height: 1;
    border-radius: .5rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.sbtn[disabled] {
    opacity: 0.60;
    cursor: not-allowed;
}

.sbg-grey {
    background-color: #F2F6FE;
}

.sbg-white {
    background-color: #fff;
}

.swhite {
    color: #fff !important;
}

.sred {
    color: #FF4757 !important;
}

.sbg-red {
    background-color: #FF4757 !important;
}

.sblue {
    color: #2196F3 !important;
}

.sbg-blue {
    background-color: #2196F3 !important;
}

.sbg-soft-red {
    background-color: #FFCCD2 !important;
}

.sorange {
    color: #ff843c !important;
}

.sbg-orange {
    background-color: #ff843c !important;
}

.sbg-soft-orange {
    background-color: #fde1d0 !important;
}

.sdark {
    color: #0D1431 !important;
}

.sbg-dark {
    background-color: #181c2b !important;
}

.sgreen {
    color: #40c78f !important;
}

.sbg-green {
    background-color: #40c78f !important;
}

.sbg-soft-dark {
    background-color: #dbdee9 !important;
}

.syellow {
    color: #feca57 !important;
}

.sbg-yellow {
    background-color: #feca57 !important;
}

.sbg-soft-yellow {
    background-color: #fff4d2 !important;
}

.sbtn-red {
    color: #fff;
    background-color: #FF4757;
    border-color: #FF4757;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-red:active,
.sbtn-red:focus,
.sbtn-red:hover {
    color: #fff;
    background-color: #D63442;
    border-color: #D63442
}

.sbtn-border-red {
    color: #FF4757;
    background-color: transparent;
    border: 1px solid #FF4757;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-red:active,
.sbtn-border-red:focus,
.sbtn-border-red:hover {
    color: #fff;
    background-color: #FF4757;
    border-color: #FF4757
}

.sbtn-soft-red {
    color: #D63442;
    background-color: #FFCCD2;
    border-color: #FFCCD2;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-soft-red:active,
.sbtn-soft-red:focus,
.sbtn-soft-red:hover {
    color: #fff;
    background-color: #FF4757;
    border-color: #FF4757
}

.sbtn-green {
    color: #fff;
    background-color: #40c78f;
    border-color: #40c78f;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-green:active,
.sbtn-green:focus,
.sbtn-green:hover {
    color: #fff;
    background-color: #40c276;
    border-color: #40c276
}

.sbtn-border-green {
    color: #40c78f;
    background-color: transparent;
    border: 1px solid #40c78f;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-green:active,
.sbtn-border-green:focus,
.sbtn-border-green:hover {
    color: #fff;
    background-color: #40c78f;
    border-color: #40c78f
}

.sbtn-soft-green {
    color: #40c78f;
    background-color: #D1FFD7;
    border-color: #D1FFD7;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-soft-green:active,
.sbtn-soft-green:focus,
.sbtn-soft-green:hover {
    color: #fff;
    background-color: #40c78f;
    border-color: #40c78f
}

.sbtn-orange {
    color: #fff;
    background-color: #ff843c;
    border-color: #ff843c;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-orange:active,
.sbtn-orange:focus,
.sbtn-orange:hover {
    color: #fff;
    background-color: #e77838;
    border-color: #e77838
}

.sbtn-border-orange {
    color: #ff843c;
    background-color: transparent;
    border: 1px solid #ff843c;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-orange:active,
.sbtn-border-orange:focus,
.sbtn-border-orange:hover {
    color: #fff;
    background-color: #e77838;
    border-color: #e77838
}

.sbtn-soft-orange {
    color: #ff843c;
    background-color: #ffceb1;
    border-color: #ffceb1;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-soft-orange:active,
.sbtn-soft-orange:focus,
.sbtn-soft-orange:hover {
    color: #fff;
    background-color: #ff843c;
    border-color: #ff843c
}

.sbtn-yellow {
    color: #fff;
    background-color: #feca57;
    border-color: #feca57;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-yellow:active,
.sbtn-yellow:focus,
.sbtn-yellow:hover {
    color: #fff;
    background-color: #f1bb46;
    border-color: #f1bb46
}

.sbtn-border-yellow {
    color: #feca57;
    background-color: transparent;
    border: 1px solid #feca57;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-yellow:active,
.sbtn-border-yellow:focus,
.sbtn-border-yellow:hover {
    color: #fff;
    background-color: #f1bb46;
    border-color: #f1bb46
}

.sbtn-soft-yellow {
    color: #feca57;
    background-color: #fff4d2;
    border-color: #fff4d2;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-soft-yellow:active,
.sbtn-soft-yellow:focus,
.sbtn-soft-yellow:hover {
    color: #fff;
    background-color: #feca57;
    border-color: #feca57
}

.sbtn-white {
    color: #0D1431;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-white:active,
.sbtn-white:focus,
.sbtn-white:hover {
    color: #0D1431;
    background-color: #EFEFEF;
    border-color: #EFEFEF
}

.sbtn-border-white {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-white:active,
.sbtn-border-white:focus,
.sbtn-border-white:hover {
    color: #0D1431;
    background-color: #fff;
    border-color: #fff;
}

.sbtn-dark {
    color: #fff;
    background-color: #0D1431;
    border-color: #0D1431;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-dark:active,
.sbtn-dark:focus,
.sbtn-dark:hover {
    color: #fff;
    background-color: #20294E;
    border-color: #20294E
}

.sbtn-border-dark {
    color: #0D1431;
    background-color: transparent;
    border: 1px solid #0D1431;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-border-dark:active,
.sbtn-border-dark:focus,
.sbtn-border-dark:hover {
    color: #fff;
    background-color: #0D1431;
    border-color: #0D1431
}

.sbtn-soft-dark {
    color: #0D1431;
    background-color: #E5E9F8;
    border-color: #E5E9F8;
    box-shadow: 0 2px 18px rgba(0, 0, 0, .02)
}

.sbtn-soft-dark:active,
.sbtn-soft-dark:focus,
.sbtn-soft-dark:hover {
    color: #fff;
    background-color: #20294E;
    border-color: #20294E
}

.json-preview {
    padding: 19px 10px 19px 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9)
}

.json-preview div {
    margin-bottom: 6px;
}

.homepage-ip-info .ip-info-right {
    color: #0D1431;
    word-break: break-all;
}

.ip-info-right:before {
    content: '"';
}

.ip-info-right:after {
    content: '",';
}

.ip-info-left {
    color: #ff4757;
    font-size: 17px;
    font-weight: 400;
    padding-left: 20px;
}

.ip-info-right {
    color: #0D1431;
    font-size: 15px;
    font-weight: 400;
    word-break: break-all;
}

.sborder-red {
    border-color: #FF4757 !important;
}

.sborder-dark {
    border-color: #0D1431 !important;
}

.sbadge-red {
    color: #fff;
    background-color: #FF4757;
}

.sbadge-soft-red {
    color: #FF4757;
    background-color: #FFCCD2;
}

.sbadge-soft-orange {
    color: #ff843c;
    background-color: #ffceb1;
}

.sbadge-yellow {
    color: #fff;
    background-color: #feca57;
}

.sbadge-orange {
    color: #fff;
    background-color: #ff843c;
}

.sbadge-green {
    color: #fff;
    background-color: #40c78f;
}

.sbadge {
    font-size: 90%;
    font-weight: 600;
    display: inline-block;
    padding: .3rem .9rem;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5rem;
}

.sbadge-price {
    font-size: 100%;
    font-weight: 700;
    display: inline-block;
    padding: .7rem 2rem;
    line-height: 1;
    text-align: start;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5rem;
}

.sbadge-price-sm {
    font-size: 90%;
    font-weight: 700;
    display: inline-block;
    padding: .4rem 1rem;
    line-height: 1;
    text-align: start;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .5rem;
}

.alert {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
    position: relative;
    padding: .4rem 1rem .4rem .4rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    font-size: .95rem;
    display: inline-block;
}


.timeline {
    width: 100%;
}

.timeline.timeline-two {
    margin-left: 1.25rem;
}

.timeline.timeline-two .timeline-item {
    position: relative;
    background-color: #fff;
    padding: 2rem;
    text-align: left;
    margin-bottom: 2.75rem;
    margin-right: 15px;
    border: 1px solid;
}

.timeline.timeline-two .timeline-item:after,
.timeline.timeline-two .timeline-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}

.timeline.timeline-two .timeline-item:before {
    border: 2px solid #e9ecef;
    content: "";
    right: auto;
    width: 12px;
    height: 12px;
    margin-left: -1.5rem;
    border-radius: 50%;
}

.timeline.timeline-two .timeline-item:after {
    background-color: #e9ecef;
    width: 2px;
    height: 100%;
    margin-top: 1.7rem;
    right: auto;
    margin-left: -1.25rem;
}

.timeline.timeline-two .timeline-item .post-meta a i,
.timeline.timeline-two .timeline-item .post-meta span i {
    padding-right: .125rem;
}

.logo-auth {
    height: 65px;
    max-width: 100%;
}

.marge-points {
    margin: 4px 3px 0px 15px;
}

.dropdown a:hover {
    color: inherit
}


.animate-down-1,
.animate-left-1,
.animate-right-1,
.animate-up-1,
.scale-down-1,
.scale-up-1 {
    transition: all .2s ease
}

.scale-up-1:hover {
    transform: scale(.55556)
}

.scale-up-hover-1:hover .scale {
    transform: scale(.55556)
}

.scale-down-1:hover {
    transform: scale(.4)
}

.animate-hover:hover .animate-up-1,
.animate-up-1:hover {
    transform: translate(0, -1px)
}

.animate-hover:hover .animate-right-1,
.animate-right-1:hover {
    transform: translate(1px, 0)
}

.animate-down-1:hover,
.animate-hover:hover .animate-down-1 {
    transform: translate(0, 1px)
}

.animate-hover:hover .animate-left-1,
.animate-left-1:hover {
    transform: translate(-1px, 0)
}

.animate-down-2,
.animate-left-2,
.animate-right-2,
.animate-up-2,
.scale-down-2,
.scale-up-2 {
    transition: all .2s ease
}

.scale-up-2:hover {
    transform: scale(1.11111)
}

.scale-up-hover-2:hover .scale {
    transform: scale(1.11111)
}

.scale-down-2:hover {
    transform: scale(.8)
}

.animate-hover:hover .animate-up-2,
.animate-up-2:hover {
    transform: translate(0, -2px)
}

.animate-hover:hover .animate-right-2,
.animate-right-2:hover {
    transform: translate(2px, 0)
}

.animate-down-2:hover,
.animate-hover:hover .animate-down-2 {
    transform: translate(0, 2px)
}

.animate-hover:hover .animate-left-2,
.animate-left-2:hover {
    transform: translate(-2px, 0)
}

.animate-down-3,
.animate-left-3,
.animate-right-3,
.animate-up-3,
.scale-down-3,
.scale-up-3 {
    transition: all .2s ease
}

.scale-up-3:hover {
    transform: scale(1.66667)
}

.scale-up-hover-3:hover .scale {
    transform: scale(1.66667)
}

.scale-down-3:hover {
    transform: scale(1.2)
}

.animate-hover:hover .animate-up-3,
.animate-up-3:hover {
    transform: translate(0, -3px)
}

.animate-hover:hover .animate-right-3,
.animate-right-3:hover {
    transform: translate(3px, 0)
}

.animate-down-3:hover,
.animate-hover:hover .animate-down-3 {
    transform: translate(0, 3px)
}

.animate-hover:hover .animate-left-3,
.animate-left-3:hover {
    transform: translate(-3px, 0)
}

.animate-down-4,
.animate-left-4,
.animate-right-4,
.animate-up-4,
.scale-down-4,
.scale-up-4 {
    transition: all .2s ease
}

.scale-up-4:hover {
    transform: scale(2.22222)
}

.scale-up-hover-4:hover .scale {
    transform: scale(2.22222)
}

.scale-down-4:hover {
    transform: scale(1.6)
}

.animate-hover:hover .animate-up-4,
.animate-up-4:hover {
    transform: translate(0, -4px)
}

.animate-hover:hover .animate-right-4,
.animate-right-4:hover {
    transform: translate(4px, 0)
}

.animate-down-4:hover,
.animate-hover:hover .animate-down-4 {
    transform: translate(0, 4px)
}

.animate-hover:hover .animate-left-4,
.animate-left-4:hover {
    transform: translate(-4px, 0)
}

.animate-down-5,
.animate-left-5,
.animate-right-5,
.animate-up-5,
.scale-down-5,
.scale-up-5 {
    transition: all .2s ease
}

.scale-up-5:hover {
    transform: scale(2.77778)
}

.scale-up-hover-5:hover .scale {
    transform: scale(2.77778)
}

.scale-down-5:hover {
    transform: scale(2)
}

.animate-hover:hover .animate-up-5,
.animate-up-5:hover {
    transform: translate(0, -5px)
}

.animate-hover:hover .animate-right-5,
.animate-right-5:hover {
    transform: translate(5px, 0)
}

.animate-down-5:hover,
.animate-hover:hover .animate-down-5 {
    transform: translate(0, 5px)
}

.animate-hover:hover .animate-left-5,
.animate-left-5:hover {
    transform: translate(-5px, 0)
}

.animate-down-6,
.animate-left-6,
.animate-right-6,
.animate-up-6,
.scale-down-6,
.scale-up-6 {
    transition: all .2s ease
}

.scale-up-6:hover {
    transform: scale(3.33333)
}

.scale-up-hover-6:hover .scale {
    transform: scale(3.33333)
}

.scale-down-6:hover {
    transform: scale(2.4)
}

.animate-hover:hover .animate-up-6,
.animate-up-6:hover {
    transform: translate(0, -6px)
}

.animate-hover:hover .animate-right-6,
.animate-right-6:hover {
    transform: translate(6px, 0)
}

.animate-down-6:hover,
.animate-hover:hover .animate-down-6 {
    transform: translate(0, 6px)
}

.animate-hover:hover .animate-left-6,
.animate-left-6:hover {
    transform: translate(-6px, 0)
}

.animate-down-7,
.animate-left-7,
.animate-right-7,
.animate-up-7,
.scale-down-7,
.scale-up-7 {
    transition: all .2s ease
}

.scale-up-7:hover {
    transform: scale(3.88889)
}

.scale-up-hover-7:hover .scale {
    transform: scale(3.88889)
}

.scale-down-7:hover {
    transform: scale(2.8)
}

.animate-hover:hover .animate-up-7,
.animate-up-7:hover {
    transform: translate(0, -7px)
}

.animate-hover:hover .animate-right-7,
.animate-right-7:hover {
    transform: translate(7px, 0)
}

.animate-down-7:hover,
.animate-hover:hover .animate-down-7 {
    transform: translate(0, 7px)
}

.animate-hover:hover .animate-left-7,
.animate-left-7:hover {
    transform: translate(-7px, 0)
}

.animate-down-8,
.animate-left-8,
.animate-right-8,
.animate-up-8,
.scale-down-8,
.scale-up-8 {
    transition: all .2s ease
}

.scale-up-8:hover {
    transform: scale(4.44444)
}

.scale-up-hover-8:hover .scale {
    transform: scale(4.44444)
}

.scale-down-8:hover {
    transform: scale(3.2)
}

.animate-hover:hover .animate-up-8,
.animate-up-8:hover {
    transform: translate(0, -8px)
}

.animate-hover:hover .animate-right-8,
.animate-right-8:hover {
    transform: translate(8px, 0)
}

.animate-down-8:hover,
.animate-hover:hover .animate-down-8 {
    transform: translate(0, 8px)
}

.animate-hover:hover .animate-left-8,
.animate-left-8:hover {
    transform: translate(-8px, 0)
}

.animate-down-9,
.animate-left-9,
.animate-right-9,
.animate-up-9,
.scale-down-9,
.scale-up-9 {
    transition: all .2s ease
}

.scale-up-9:hover {
    transform: scale(5)
}

.scale-up-hover-9:hover .scale {
    transform: scale(5)
}

.scale-down-9:hover {
    transform: scale(3.6)
}

.animate-hover:hover .animate-up-9,
.animate-up-9:hover {
    transform: translate(0, -9px)
}

.animate-hover:hover .animate-right-9,
.animate-right-9:hover {
    transform: translate(9px, 0)
}

.animate-down-9:hover,
.animate-hover:hover .animate-down-9 {
    transform: translate(0, 9px)
}

.animate-hover:hover .animate-left-9,
.animate-left-9:hover {
    transform: translate(-9px, 0)
}

.display-2 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.3;
}

.border-light {
    border-color: #eaedf2 !important;
}

.card-header {
    padding: 1.25rem 1.5rem;
    margin-bottom: 0;
    background-color: #f3f7fa;
    border-bottom: .0625rem solid rgba(243, 247, 250, .05);
}

.right-3 {
    right: 1rem;
}

.badge-lg {
    padding: .35rem .85rem;
}

.card .card-header {
    background: 0 0;
}

.list-group-item {
    border: 0;
}

.list-group-item i {
    width: 1rem;
}

.list-group.simple-list .list-group-item {
    background: 0 0;
    border: none;
    padding: .375rem .125rem;
}

.list-group.simple-list .list-group-item i {
    vertical-align: middle;
    width: 35px;
    display: inline-block;
}

.sshadow {
    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.12);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.12);
    box-shadow: 0 3px 10px rgba(62, 85, 120, 0.12);
}

.dropdown-shadow {
    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.35);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, 0.35);
    box-shadow: 0 3px 10px rgba(62, 85, 120, 0.35);
}

.navbar-custom .topnav-menu > li {
    float: left;
}

.navbar-custom .topnav-menu .nav-link {
    padding: 0 15px;
    color: rgba(255, 255, 255, .6);
    min-width: 32px;
    display: block;
    line-height: 70px;
    text-align: center;
    max-height: 70px;
}

.navbar-custom .dropdown.show .nav-link {
    background-color: rgba(255, 255, 255, .05);
}

.noti-scroll {
    max-height: 230px;
}

.notification-list {
    margin-left: 0;
    margin-right: 30px;
}

.notification-list .noti-title {
    background-color: transparent;
    padding: 15px 20px;
}

.notification-list .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 14px;
}

.notification-list .notify-item {
    padding: 12px 20px;
}

.notification-list .notify-item .notify-icon {
    float: left;
    height: 36px;
    width: 36px;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
}

.notification-list .notify-item .notify-details {
    margin-bottom: 5px;
    overflow: hidden;
    margin-left: 45px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #343a40;
}

.notification-list .notify-item .notify-details b {
    font-weight: 500;
}

.notification-list .notify-item .notify-details small {
    display: block;
}

.notification-list .notify-item .user-msg {
    margin-left: 45px;
    white-space: normal;
    line-height: 16px;
}

.noti-icon {
    font-size: 21px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .navbar-custom .dropdown {
        position: static;
    }

    .navbar-custom .dropdown .dropdown-menu {
        left: 10px !important;
        right: 10px !important;
        border: none;
    }
}

.body[data-topbar-color=light] .navbar-custom .topnav-menu .nav-link {
    color: #6c757d;
}

.body[data-topbar-color=light] .navbar-custom .dropdown.show .nav-link {
    background-color: rgba(50, 58, 70, .03);
}

@media (max-width: 360px) {
    .navbar-custom .topnav-menu .nav-link {
        padding: 0 12px;
    }
}

.dropdown-lg {
    width: 320px
}

.navbar-brand .mobile {
    display: none;
}

@media (max-width: 600px) {
    .navbar-brand .mobile {
        max-width: 45px !important;
        width: 45px;
        display: block;
    }

    .navbar-brand .desktop {
        display: none;
    }
}

[data-simplebar] {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.simplebar-wrapper {
    overflow: hidden;
    width: inherit;
    height: inherit;
    max-width: inherit;
    max-height: inherit;
}

.simplebar-mask {
    direction: inherit;
    position: absolute;
    overflow: hidden;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto !important;
    height: auto !important;
    z-index: 0;
}

.simplebar-offset {
    direction: inherit !important;
    box-sizing: inherit !important;
    resize: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
    direction: inherit;
    box-sizing: border-box !important;
    position: relative;
    display: block;
    height: 100%;
    width: auto;
    visibility: visible;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
    scrollbar-width: none;
}

.simplebar-content-wrapper::-webkit-scrollbar {
    display: none;
}

.simplebar-content:after, .simplebar-content:before {
    content: ' ';
    display: table;
}

.simplebar-placeholder {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
    box-sizing: inherit !important;
    height: 100%;
    width: 100%;
    max-width: 1px;
    position: relative;
    float: left;
    max-height: 1px;
    overflow: hidden;
    z-index: -1;
    padding: 0;
    margin: 0;
    pointer-events: none;
    flex-grow: inherit;
    flex-shrink: 0;
    flex-basis: 0;
}

.simplebar-height-auto-observer {
    box-sizing: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 1000%;
    width: 1000%;
    min-height: 1px;
    min-width: 1px;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.simplebar-track {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    overflow: hidden;
}

.simplebar-scrollbar {
    position: absolute;
    right: 2px;
    width: 5px;
    min-height: 10px;
}

.simplebar-scrollbar:before {
    position: absolute;
    content: '';
    background: #a2adb7;
    border-radius: 7px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity .2s linear;
}

.simplebar-track.simplebar-vertical {
    top: 0;
    width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
    top: 2px;
    bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
    left: 0;
    height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
    height: 100%;
    left: 2px;
    right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
    right: auto;
    left: 0;
    top: 2px;
    height: 7px;
    min-height: 0;
    min-width: 10px;
    width: auto;
}

input[type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 3rem;
}

.custom-control-input {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 1.25rem;
    height: 1.375rem;
    opacity: 0;
}

.custom-control-label::before {
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-control-label:before {
    box-shadow: none;
    transition: all .3s ease-in-out;
}

.custom-control-label {
    margin-bottom: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #ff4757;
    border-color: #ff4757;
    background-color: #ff4757;
    box-shadow: none;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05), none;
}

.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}

.custom-control-label::before {
    position: absolute;
    top: .125rem;
    left: -3rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: #b1bcce solid 1px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .05);
}

.custom-control-label::after {
    position: absolute;
    top: .125rem;
    left: -3rem;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    content: "";
    background: no-repeat 50%/50% 50%;
}

.custom-switch {
    padding-left: 3.9375rem;
}

.custom-switch .custom-control-label::before {
    left: -3.9375rem;
    width: 2.1875rem;
    pointer-events: all;
    border-radius: .625rem;
}

.custom-switch .custom-control-label::after {
    top: calc(.125rem + 2px);
    left: calc(-3.9375rem + 2px);
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
    background-color: #b1bcce;
    border-radius: .625rem;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #fff;
    transform: translateX(.9375rem);
}

.custom-switch .custom-control-label::after {
    top: calc(.125rem + 2px);
    left: calc(-3.9375rem + 2px);
    width: calc(1.25rem - 4px);
    height: calc(1.25rem - 4px);
    background-color: #b1bcce;
    border-radius: .625rem;
    transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.dot {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-left: 8px;
    display: inline-block;
}

.pulse {
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(64, 199, 143);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(64, 199, 143);
        box-shadow: 0 0 0 0 rgb(64, 199, 143);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.img-card:before {
    content: '';
    position: absolute;
    background: url(/img/circle.svg) no-repeat right;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.stats-title {
    font-size: 1.875rem;
}

@media (max-width: 411px) {
    .stats-title {
        font-size: 1.1rem;
    }
}

.card-disabled {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: .25rem;
    background: rgba(255, 255, 255, .82);
    cursor: not-allowed;
}
